name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    strategy:
      matrix:
        include:
          - os: "ubuntu-22.04"
            zig: "0.13.0" # aka "latest" at time of writing (2024-09-20)
          
          # Use the nightly build
          - os: "ubuntu-22.04"
            zig: "master"

    runs-on: ${{matrix.os}}
 
    steps:
    - uses: actions/checkout@v4

    - name: Setup Zig
      # note(jae): 2024-09-15
      # Uses download mirror first as preferred by Zig Foundation
      # see: https://ziglang.org/news/migrate-to-self-hosting/
      uses: mlugg/setup-zig@v1
      with:
        version: ${{matrix.zig}}

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        packages: 'tools platform-tools platforms;android-35 build-tools;35.0.0 ndk;27.0.12077973'

    - name: Build Minimal Example
      run: zig build -Dandroid=true --verbose
      working-directory: examples/minimal

    - name: Build SDL2 Example
      run: zig build -Dandroid=true --verbose
      working-directory: examples/sdl2
