name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  build-stable:
    name: Zig (Stable)
    strategy:
      matrix:
        include:
          - os: "ubuntu-22.04"
          - os: "windows-latest"
          - os: "macos-12" # x86_64
          - os: "macos-14" # arm64 as per table: https://github.com/actions/runner-images/blob/8a1eeaf6ac70c66f675a04078d1a7222edd42008/README.md#available-images

    runs-on: ${{matrix.os}}
 
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        packages: 'tools platform-tools platforms;android-35 build-tools;35.0.0 ndk;27.0.12077973'

    - name: Setup Zig 0.13.0
      # note(jae): 2024-09-15
      # Uses download mirror first as preferred by Zig Foundation
      # see: https://ziglang.org/news/migrate-to-self-hosting/
      uses: mlugg/setup-zig@v1
      with:
        version: "0.13.0"

    - name: Build Minimal Example (Zig 0.13.0)
      run: zig build -Dandroid=true --verbose
      working-directory: examples/minimal

    - name: Build SDL2 Example (Zig 0.13.0)
      run: zig build -Dandroid=true --verbose
      working-directory: examples/sdl2

    - name: Setup Zig Nightly
      uses: mlugg/setup-zig@v1
      with:
        version: "master"

    - name: Build Minimal Example (Zig Nightly)
      run: zig build -Dandroid=true --verbose
      working-directory: examples/minimal

    - name: Build SDL2 Example (Zig Nightly)
      # "zig build -Dandroid=true" fails for 0.14.0-dev.1632
      #
      # android/sdk/ndk/27.0.12077973/toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/include/android/hardware_buffer.h:322:42:
      # error: expression is not an integral constant expression
      #
      # See: https://github.com/silbinarywolf/zig-android-sdk/actions/runs/10979711793/job/30484520174?pr=5#step:10:30
      run: zig build -Dtarget=x86_64-linux-android --verbose
      working-directory: examples/sdl2

  build-nightly:
    name: Zig (Nightly)
    strategy:
      matrix:
        include:
          - os: "ubuntu-22.04"
          - os: "windows-latest"
          - os: "macos-12" # x86_64
          - os: "macos-14" # arm64 as per table: https://github.com/actions/runner-images/blob/8a1eeaf6ac70c66f675a04078d1a7222edd42008/README.md#available-images

    runs-on: ${{matrix.os}}
 
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        packages: 'tools platform-tools platforms;android-35 build-tools;35.0.0 ndk;27.0.12077973'

    - name: Setup Zig Nightly
      uses: mlugg/setup-zig@v1
      with:
        version: "master"

    - name: Build Minimal Example (Zig Nightly)
      run: zig build -Dandroid=true --verbose
      working-directory: examples/minimal

    - name: Build SDL2 Example (Zig Nightly)
      # "zig build -Dandroid=true" fails for 0.14.0-dev.1632
      #
      # android/sdk/ndk/27.0.12077973/toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/include/android/hardware_buffer.h:322:42:
      # error: expression is not an integral constant expression
      #
      # See: https://github.com/silbinarywolf/zig-android-sdk/actions/runs/10979711793/job/30484520174?pr=5#step:10:30
      run: zig build -Dtarget=x86_64-linux-android --verbose
      working-directory: examples/sdl2